
experiments/.ipynb_checkpoints
experiments/__pycache__
experiments/trainings
experiments/tblogs
experiments/domain_rand
experiments/.DS_Store
examples/images
policies
.DS_Store
traj_opt/.ipynb_checkpoints
*MUJOCO_LOG.TXT
*__pycache__
misc